<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body center-box d-flex justify-content-center flex-column align-items-center">
      <%= render 'form' %>
    </div>
  </div>
</div>
