<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3 id="myModalLabel"><%= @job_app.company %></h3>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
     </div>
    <div class="modal-body center-box d-flex justify-content-center flex-column align-items-center">
      <%= render 'form' %>
    </div>
  </div>
</div>
