<div class="center-box d-flex justify-content-center flex-column align-items-center">
	<h1 class="big-font">A job tracker to help you keep up with all your applications</h2>
	<p class="sub-text">AppName helps you through every stage of the application process, from just thinking of applying to an actual offer.</p>
	<div class="get-started-button"><p>Get Started</p></div>
</div>