<h2 class="">A job tracker to help you keep up with all of your applications</h2>
<p>AppName helps you through every stage of the application process, from just thinking of applying to an actual offer.</p>
<div class="btn btn-primary">Get Started</div>