$yellow: #FFEE88;
$pink: #FF818B;
$purple: #212589;
$teal: #73E3C7;
$light-gray: #DDD;
$light-purple: rgba(33, 37, 137, 50);
$off-white: rgba(33, 37, 137, 1);
$white: #FFF;
$dark-gray: rgba(0, 0, 0, 85);