/**
Sign Up:
        36px, medium
Labels:
        20px
Inputs:
        width: 385px, height: 40px, border-bottom: 1px purple, background color: white
Join btn:
        width: 300px, border-radius 28
Join:
        30px, white, bold
*/


@import "colors";

.devise-background {
	background-image: url("devise_background.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
}

.devise-h1 {
	font-size: 36px;
	font-weight: medium;
	color: $pink;
	margin-bottom: 20px;
}

.devise-field {
	text-align: left;
	label {
		font-size: 20px;
		color: $purple;
		margin-bottom: 0px;
	}

	input {
		width: 385px;
		height: 40px;
		border-style: none;
		border-bottom: 1px solid $purple;
		background-color: $off-white;
	}
}

.devise-button {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 10px;
	input {
		width: 300px;
		margin: 0px auto;
		border-radius: 28px;
		background: $pink;
		text-align: center;
		vertical-align: middle;
		font-size: 30px;
		font-weight: bold;
		border: none;
		color: white;
		padding-bottom: 3px;
	}
}

.remember-me {
	color: $purple;
	text-align: left;

	input {
		width: 16px;
		height: 16px;
		background-color: $off-white;
		border-radius: 20%;
		border: 1.5px solid $purple;
		-webkit-appearance: none;
		outline: none;
		cursor: pointer;
	}
	input:checked {
		background-color: $purple;
	}

	label {
		font-size: 16px;
		line-height: 1;
		margin-top: 2px;
		vertical-align: top;
	}
}

.text-under-button, .text-under-button:hover {
	color: $purple;
}
