// Place all the styles related to the JobApp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "colors";

.index-table-row {
	text-align: left;
	display: flex;
	height: 40px;
	border: 1px solid $light-purple;
	border-radius: 3px;
	margin-top: 7px;
	padding: 6px 20px 3px 20px;
	color: $purple;

	div {
		overflow: hidden;
		text-overflow: ellipsis;
		width: 5%;
		margin-right: 10%;
		font-weight: 300;
	}

	.company-name {
		width: 20%;
		margin-right: 10%;
		font-weight: 650;
	}

	.position-name {
		width: 30%;
		margin-right: 10%;
	}

	.job-app-status {
		width: 15%;
		margin-right: 5%;
	}

	.submit-date {
		width: 10%;
		margin-right: 0%;
		text-align: right;
	}
}

.index-table-row:hover {
	background-color: $purple;
	border-color: $purple;
	color: $white;
}

.add-app-button, .add-app-button:hover {
	background: $pink;
	color: white;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	vertical-align: bottom;
	width: 268px;
	height: 60px;
	border-radius: 22px;
	padding: 10px 15px 11px 15px;
	margin-right: 15px;
	margin-bottom: 30px;
}

.index-page-box {
	width: 80%;
	margin: 10px auto auto auto;
	text-align: right;
}

.job-apps-box {
	margin-top: 10px;
}

.color-bar {
	width: 100%;
	height: 10px;
	border-radius: 2px;
  background-color: $teal;
	margin-bottom: 20px;
}

.index-table-header {
	text-align: left;
	margin-top: 10px;

	h2 {
		color: $purple;
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 3px;
	}
}
