// Place all the styles related to the JobApp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "colors";


.index-table-row {
	text-align: left;
	display: flex;
	height: 35px;
	border: 1px solid $light-purple;
	border-radius: 5px;
	margin-top: 10px;
	padding: 5px 10px;
	color: $purple;

	div {
		overflow: hidden;
		width: 5%;
		margin-right: 5%;
	}

	.company-name {
		width: 5%;
		margin-right: 5%;
	}
	.job-app-status {
		width: 15%;
		margin-right: 5%;
	}

	.job-app-url {
		width: 5%;
		margin-right: 5%;
	}
	
}

.add-app-button, .add-app-button:hover {
	background: $pink;
	color: white;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	vertical-align: bottom;
	width: 268px;
	height: 60px;
	border-radius: 29.5px;
	padding: 5px 15px 7px 15px;
}

.index-page-box {
	width: 80%;
	margin: 10px auto auto auto;
	text-align: right;
}

.job-apps-box {
	margin-top: 10px;
}