.welcome-background {
	background-image: url("welcome_background.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%
}

.app-name {
	font-size: 26px;
	font-weight: 600;
	margin-left: 34px;
}
