@import "colors";

.welcome-background {
	background-image: url("welcome_background.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
}

.big-font {
	color: $purple;
	font-size: 50px;
	margin-bottom: 4%;
	font-weight: bold;
}

.sub-text {
	color: $light-purple;
	font-size: 24px;
	margin-bottom: 12%;
}

.get-started-button, .get-started-button:hover {
	background: $pink;
	color: white;
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	vertical-align: bottom;
	width: 268px;
	height: 60px;
	border-radius: 29.5px;
	padding-top: 4px;
}

