@import "colors";

.welcome-background {
	background-image: url("welcome_background.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%
}

.app-name {
	color: $dark-gray;
	font-size: 26px;
	font-weight: 600;
	margin-left: 34px;
}

.big-font {
	color: $purple;
	font-size: 50px;
	margin-bottom: 4%;
	font-weight: bold;
}

.sub-text {
	color: $light-purple;
	font-size: 24px;
	margin-bottom: 12%;
}

.get-started-button {
	background: $pink;
	color: white;
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	vertical-align: bottom;
	width: 268px;
	height: 60px;
	border-radius: 29.5px;

	p {
		margin-top: 3px;
		margin-bottom: 0px;
	}
}

.header-text {
	font-size: 18px;
	margin-right: 64px;
}

.welcome-box {
	margin: auto auto;
	width: 50%;
	height: 80%;
	text-align: center;
}